  #firstPage{
    background:
        linear-gradient(
        rgba(255, 215, 0, 0.8),
        rgba(255, 215, 0, 0.8)
      ),

      url(backgroundImageUCF.jpg);
      background-size: cover;
      height: 550px;
  }
  #secondPage{
    margin-top: 0;
  }
  #thirdPage{
    height: 500px;
    width: 100%;
    background-color: white;
  }
  #secondPage{
    height: 800px;
    width: 100%;
    background-color: black;
  }
  #mainpic{
    max-width: 100%;
    margin-top: 75px;
    border: 2px;
  }
  #greeting1{
    font-size: 24px;
    margin-top: 10%;
  }
  #greeting2{
    font-size: 18px;
  }
  #socialMedia{
    height: 60px;
    width: 250px;
    margin-top: 5%;
    background-color: black;
  }
  .fa{
    color: gold;
    margin-top: -10px;
  }
  .fa:hover{
    text-shadow: 2px 2px grey;
  }
  .fa-github-square{
    float: left;
  }
  .fa-facebook-official{
    margin-right: 15px;
  }
  .fa-linkedin{
    float: right;
  }
  #secondPage .jumbotron{
    color: white;
    background-color: black;
    margin-bottom: -20px;
  }
  .glyphicon{
    color: gold;
    font-size: 40px;
  }
  #secondPage p{
    color: white;
  }
  #thirdPage .jumbotron{
    background-color: white;
  }
  img{
    position: absolute;
    z-index: 0;
  }
  #icon1{
    position: absolute;
    height: 175px;
    width: 175px;
    z-index: 20;
    text-align: center;
  }
  .highlight{
    background-color: rgba(0, 0, 0, 0.85);
  }
  .holder{
    width: 175px;
    height: 40px;
  }
  a.link{
    color: white;
    text-decoration: underline;
    font-size: 18px;
    display: none;
    margin-top: 20px;
  }

@media screen and (min-width: 760px) and (max-width:1024px){
  #firstPage{
    height: 600px;
  }
  #secondPage{
    height: 500px;
  }
  #greeting1{
    margin-top: 175px;
    font-size: 32px;
  }
  #greeting2{
    font-size: 24px;
  }
  #secondPage p{
    font-size: 15px;
  }
}

@media screen and (min-width:1024px){
  #firstPage{
    height: 600px;
  }
  #secondPage{
    height: 475px;
  }
  #mainpic{
    margin-top: 20%;
  }
  #greeting1{
    margin-top: 35%;
    font-size: 40px;
  }
  #greeting2{
    font-size: 30px;
  }
  #secondPage p{
    font-size: 18px;
  }
  #mainpic{
    margin-left: 30%;
  }
}
@media screen and (min-width:1300px){
  #firstPage{
    height: 900px;
  }
  #secondPage{
    height: 550px;
  }
  #mainpic{
    margin-top: 20%;
  }
  #greeting1{
    margin-top: 35%;
    font-size: 40px;
  }
  #greeting2{
    font-size: 30px;
  }
  .glyphicon{
    font-size: 60px
  }
  #personal{
    width: 50%;
    margin-left: -25%
  }
  #edu{
    width: 50%;
  }
  #tech{
    width: 50%;
    margin-right: -25%
  }
  #secondPage p{
    font-size: 24px;
  }
  #mainpic{
    margin-left: 30%;
  }
}
